html
  head
  title Welcome #{id}!
  link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
  body
    div.container
      h1 Hello #{id}!
      p You're wondering about #{size} jobs?
      img(src="/static/images/micropersonas.png", width=212, height=190)
      p.
        Are you fond of the color #{color}?

